@font-face {
  font-family: "exo";
  src: url("../fonts/Exo2-Regular.ttf");
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.13);
  }

  100% {
    transform: scale(1);
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "exo";
}

.g28 {
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

video.desk {
  display: block;
}

video.mob {
  display: none;
}

@media (max-width: 767px) {
  video.desk {
    display: none;
  }

  video.mob {
    display: block;
  }
}

img.desk {
  display: block;
}

img.mob {
  display: none;
}

@media (max-width: 767px) {
  img.desk {
    display: none;
  }

  img.mob {
    display: block;
  }
}

.desk {
  display: block;
}

.mob {
  display: none;
}

@media (max-width: 767px) {
  .desk {
    display: none;
  }

  .mob {
    display: block;
  }
}

/* HEADER  */
.header-desk {
  position: relative;
}

/* .header-desk .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
.header-desk .content .logo {
  position: absolute;
  top: -25%;
  left: 10%;
}

.header-desk .content .menu {
  position: absolute;
  top: 20%;
  right: 3%;
}

.header-desk .content ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header-desk .content ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: rgb(119, 119, 119);
  font-size: 1vw;
  font-weight: 700;
  line-height: 1;
  padding: 0;
  margin: 0;
}

.header-desk .content ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-right: 1vw;
  padding: 0;
}

.header-desk .content ul li a:hover {
  color: rgb(255, 191, 0);
}

.header-mobile {
  display: none;
}

@media (max-width: 767px) {
  .header-desk {
    display: none;
  }

  .header-mobile {
    display: block;
  }

  .header-mobile {
    background-color: black;
    padding: 10px 0px;
  }

  .header-mobile .container {
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-mobile .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .header-mobile .logo .img-logo {
    width: 10vw;
  }

  .header-mobile .logo .img-logo img {
    border-radius: 5px;
  }

  .header-mobile .logo .name-game p {
    font-weight: 700;
    color: white;
    font-family: "exo";
    font-size: 2.5vw;
    margin-left: 7px;
    margin-bottom: 0;
  }

  .header-mobile .logo .name-game p:nth-child(2) {
    font-size: 2vw;
    color: rgb(202, 201, 201);
  }

  .header-mobile .btn-download {
    width: 25vw;
  }
}

/* TAB 1  */
.tab1 {
  position: relative;
}

.tab1 .btn-play {
  position: absolute;
  top: 43%;
  right: 10%;
  animation: zoom 1s infinite;
}

.tab1 .content {
  position: absolute;
  bottom: 2%;
  left: 35%;
}

.tab1 .box-download .background {
  width: 25vw;
}

.tab1 .content .qr {
  position: absolute;
  bottom: 5%;
  left: 3%;
  width: 8vw;
}

.tab1 .content .text {
  position: absolute;
  left: 40%;
  bottom: 10%;
  font-size: 1vw;
  color: #fff;
}

.tab1 .content .text p {
  margin-bottom: 0px;
  font-weight: 700;
}

.tab1 .content .list-down {
  position: absolute;
  bottom: 0%;
  right: 3%;
  width: 10vw;
}

.tab1 .content .list-down img {
  margin: 0.5vw 0;
  transition: 0.5s;
}
.tab1 .content .list-down img:hover {
  transform: scale(1.05);
  filter: brightness(120%);
}
@media (max-width: 767px) {
  .tab1 .btn-play {
    position: absolute;
    top: 90%;
    right: 70%;
    animation: zoom 1s infinite;
    width: 12vw;
  }

  .tab1 .btn-down {
    position: absolute;
    top: 90%;
    right: 20%;
    width: 35vw;
  }
}

/* TAB 1 END  */

/* NAV LEFT  */
.nav-left {
  position: fixed;
  top: 35%;
  left: 1%;
}

.nav-left .background img {
  width: 7vw;
}

.nav-left .warning {
  position: absolute;
  top: -20%;
  left: 20%;
  width: 4.5vw;
}

.nav-left .qr {
  width: 6vw;
  position: absolute;
  top: 7%;
  left: 7%;
}

.nav-left .text {
  position: absolute;
  top: 35%;
  left: 2%;
  color: #fff;
  font-size: 0.7vw;
}

.nav-left .list-down {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
}

.nav-left .list-down img {
  margin: 0.2vw 0;
}

.nav-left .list-down img:hover {
  transform: scale(1.1);
  transition: 0.35s;
}
@media (max-width: 767px) {
  .nav-left {
    display: none;
  }
}

/* END NAV LEFT  */

/* NAV-RIGHT   */
.nav-right {
  position: fixed;
  top: 35%;
  right: 1%;
}
.nav-right ul {
  z-index: 10;
}
.nav-right ul li {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 1vw 0;
}
.nav-right ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}
.nav-right ul li .box {
  margin-left: 1.5vw;
}
.scale-up {
  transform: scale(1.5);
}
/* .nav-right ul li a.active {
  } */

/* END NAV-RIGHT  */

/* DETAIL-NEWS  */
.main {
  background-image: url(../images/bimg3.jpg);
  background-size: cover;
  background-position: top;
  padding: 5vw 0;
}
.content-news {
  background-color: #171a43;
  margin: auto;
  border: 2px solid #fec310;
  color: #fff;
}
.content-news .header-content .title {
  font-size: 1.5vw;
}
.content-news .header-content .time {
  font-size: 1vw;
}
.content-news .header-content {
  text-align: center;
}
hr {
  border-top: 1px solid rgb(255, 255, 255) !important;
}

@media (max-width: 767px) {
  .content-news .header-content .title {
    font-size: 3.5vw;
  }
  .content-news .header-content .time {
    font-size: 2.5vw;
  }
}
/* END DETAIL  */
ul .line {
  width: 2px;
  padding: 0;
  background-color: #fec310;
  min-height: 0.5vw;
  display: block;
  /* height: 4px; */
  transform: rotate(20deg);
}

@media (max-width: 767px) {
  .btn-fixed {
    position: fixed;
    right: 0;
    top: 40%;
    z-index: 10000;
    width: 25vw;
  }
}
